@using InvoiceAndStorage.Common
@{
    this.ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошни в @GlobalConstants.SystemName!</h1>
    <div class="container">
        <div class="row">
            <div class="col-auto p-2" >
                <a class="btn btn-outline-primary" href="/Buyer/AddBuyers">Създай нов клиент</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Buyer/All">Всички клиенти</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Supplier/AddSuppliers">Създай нов доставчик</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Supplier/AllSuppliers">Всички доставчици</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Product/AddProduct">Създай нов продукти</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Product/AllProducts">Всички продукти</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Product/AddProduct">Нова доставка</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="">Оферти</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Invoice/CreateInvoice">Създай нова фактура</a>
            </div>
            <div class="col-auto p-2">
                <a class="btn btn-outline-primary" href="/Invoice/AllInvoice">Издадени фактури</a>
            </div>
        </div>
    </div>
</div>

