@using InvoiceAndStorage.Common
@{
    this.ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row" >
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="/Buyer/AddBuyers">Създай фирма</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="/Supplier/AddSuppliers">Създай доставчик</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="/Product/AllProducts">Всички продукти</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="">Доставки</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="">Оферти</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="">Създай фактура</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href="">Издадени фактури</a>
            </div>
        </div>
    </div>
</div>

