@model InvoiceAndStorage.Web.ViewModels.Product.AddProductViewModel

@{
    ViewData["Title"] = "AddProduct";
}

@if (@TempData["AddProduct"] != null)
{
    <div id="newProduct" class="alert alert-danger"><h3>@TempData["AddProduct"]</h3></div>
}

<h1>Добви продукт</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @*TODO
        Add fealds for invoice delivery date, price
        *@
        <form asp-controller="Product" asp-action="AddProduct" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай продукт" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    setTimeout(function () {
        $('#newProduct').hide('fade');
    }, 10000);
</script> 


